<!DOCTYPE html>
<html>

<head>
    <title>ISO 15143-4 Sample Files</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet" />
    <style>
        .content {
            background: #badbed;
            display: flex; flex-direction: column;
            font-family: Tahoma, sans-serif; height: 95vh; margin: 6px;
            border: 2px solid navy;
        }
        .heading {
            background: #f1f1f1;
            font-weight: bold;
            padding: 10px;
            border-bottom: 5px groove navy;
        }
        .comment {
            background-color: #badbed;
            padding:12px;
            font-style: italic;
        }
        .app {
            background-color: #badbed;
            flex: 1; flex-direction: column;
            gap: 16px; padding:12px;
        }
        td {
            padding: 12px;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="heading">
            ISO 15143-4 Sample Files
        </div>
        <p class="comment">
            These files have been supplied by the ISO 15143-4 Working Group.
            They do not form part of the ISO Standard.
            While every effort is made to ensure files here represent valid uses of the standard, they are supplied without any warranty of any kind.
            E & O E.
        </p>
        <div class="app">
            <table>
                <tr><th>File</th><th>Added</th><th>Description</th></tr>
                {{.Rows}}
            </table>
        </div>
    </div>
</body>
</html>
